<h1>This is the secret page</h1>
<p>You found me</p>

<img src="https://media-exp1.licdn.com/dms/image/C5603AQEOB9szyznqLQ/profile-displayphoto-shrink_200_200/0?e=1595462400&v=beta&t=pEQr6ctp9LIieBu4_EzqaP-zz5ijTk4v3v-KlBUG1sQ">
<li><a href="/register">Sign Up!</a></li>   
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>