<%- include("partials/header") %>
<h1>This is the home page!</h1>
<img src="https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/3/35/IronMan-EndgameProfile.jpg/revision/latest/scale-to-width-down/310?cb=20190423175213"/>
<%- include("partials/footer") %>